<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">DISC Profile</h1>
    <%# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> %>
</div>

<!-- Profile Illustration Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Personality Profiles Analysis</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Dominance <span
                        class="float-right"><%=@d_bar%>%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: <%=@d_bar%>%"></div>
                </div>
                <h4 class="small font-weight-bold">Influence <span
                        class="float-right"><%=@i_bar%>%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: <%=@i_bar%>%"></div>
                </div>
                <h4 class="small font-weight-bold">Steadiness <span
                        class="float-right"><%=@s_bar%>%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" style="width: <%=@s_bar%>%"></div>
                </div>
                <h4 class="small font-weight-bold">Compliance <span
                        class="float-right"><%=@c_bar%>%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: <%=@c_bar%>%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%#= turbo_frame_tag "new_question", target: "_top" do %>
  <%#= form_tag questions_path, class: 'w-full' do |f| %>
    <%# <input type="text"
            class="w-full rounded"
            name="question[question]"
            placeholder="Type your question"> %>
  <%# end %>
<%# end %>

<%# <div class="h-48 w-full rounded mb-5 p-3 bg-gray-100"> %>
  <%#= turbo_frame_tag "answer" %>
<%# </div> %>

<div class="row">
  <div class="col-xl-12 col-lg-7 col-md-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Personality Profiles Analysis</h6>
      </div>

      <div class="card-body">
        <%= render partial: '/disc_tests/form' %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const questionSwotSelect = document.getElementById('swot_questions');
    const questionCommunicationSelect = document.getElementById('communication_questions');
    const questionTeamworkSelect = document.getElementById('teamwork_questions');
    const questionLeadershipSelect = document.getElementById('leadership_questions');
    const questionAdaptabilitySelect = document.getElementById('adaptability_questions');
    const questionCareerSelect = document.getElementById('career_questions');
    const questionGrowthSelect = document.getElementById('growth_questions');
    const questionForm = document.getElementById('question_form');
    const questionInput = document.getElementById('question');

    questionSwotSelect.addEventListener('change', function() {
      questionInput.value = this.value; // Set the text area to the selected question
    });

    questionCommunicationSelect.addEventListener('change', function() {
      questionInput.value = this.value; // Set the text area to the selected question
    });

    questionTeamworkSelect.addEventListener('change', function() {
      questionInput.value = this.value; // Set the text area to the selected question
    });

    questionLeadershipSelect.addEventListener('change', function() {
      questionInput.value = this.value; // Set the text area to the selected question
    });

    questionAdaptabilitySelect.addEventListener('change', function() {
      questionInput.value = this.value; // Set the text area to the selected question
    });

    questionCareerSelect.addEventListener('change', function() {
      questionInput.value = this.value; // Set the text area to the selected question
    });

    questionGrowthSelect.addEventListener('change', function() {
      questionInput.value = this.value; // Set the text area to the selected question
    });

    // Submit form immediately upon selecting a question:
    // questionSelect.addEventListener('change', function() {
    //   questionForm.submit();
    // });
  });
</script>

<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    const questionButtons = document.querySelectorAll('.question-btn');
    // Use getElementById to select the textarea by its ID
    const questionInput = document.getElementById('question');

    questionButtons.forEach(button => {
      button.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default button action
        questionInput.value = this.getAttribute('data-question');
      });
    });
  });
</script> %>

<div class="row">
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Answer</h6>
      </div>
      <div class="card-body">
        <%= turbo_frame_tag "answer" do %>
          <!-- This is where the answer will be displayed. -->
        <% end %>
      </div>
    </div>
  </div>
</div>